*{

  justify-content: center;
  text-align: center;
  margin:auto;

}

/*Search Bar Style*/

.search{

  border-radius: 0.5em;
  width: 15em;
  height: 2em;
  margin: 2em;



}




/*CARD STYLE*/


.cardFront, .cardBack{

  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 10px 10px 10px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 20px;
  width: 15em;
  height: 20em;
  text-align: justify;
  text-justify: auto;

}

/*.cardBack{

  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 20px;
  width: 15em;
  height: 20em;
  text-align: justify;
  text-justify: auto;

}*/

img{

  max-width: 100%;
  width: 20em;
  height: 16em;
  border-radius: 10%;
  margin-bottom: 10px;
  

}

h3{

  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
  color: hsl(0, 0%, 20%);

}


.Projects{

  display: grid;
  grid-template-columns: repeat(auto-fill, 25em);
  width: 100%;
}